<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>com.yourname.AmiiboWriter</string>
    <key>CFBundleName</key>
    <string>AmiiboWriter</string>
    <key>CFBundleDisplayName</key>
    <string>AmiiboWriter</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>NSNFCReaderUsageDescription</key>
    <string>We need NFC access to write Amiibo data to your tag</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>nfc</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
  </dict>
</plist>
